<div class="content">
    <h2>Food Content</h2>
    <div class="input-group flex-nowrap">
        <span class="input-group-text" id="addon-wrapping">Food Item</span>
        <input #item type="text" class="form-control" placeholder="Enter the Food Item" aria-label="Pincode" aria-describedby="addon-wrapping">
    </div>
      <button type="button" class="btn btn-primary btn-lg" (click)="foodData(item)">Show</button>
    </div>
    <div class="fetch" *ngIf=fetch >
      <div class="spinner-border text-primary" role="status" style="margin-right: 2%;">
          <span class="visually-hidden"></span>
        </div>
       Fetching Data.....
    </div>
    <div *ngFor="let x of data; let i=index">
      <div class="container-fluid" id="food">
        <div class="tile"><span>Food Name: </span>{{x.title}}</div>
        <div class="tile"><span>Ingridients: </span>{{x.ingredients}}</div>
        <div class="tile"><span>Servings: </span>{{x.servings}}</div>
        <div class="tile"><span>Instruction: </span>{{x.instructions}}</div>
      </div>
    </div>
    