.content{
    margin-top:10%;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}
.input-group{
    width: 40%;
    margin-top: 5%;
}

.content button{
    margin-top:5%;
}

.table{
    width:70%;
    margin-top:7%;
    margin-left:18%;
}