<div id="back-img">
    <div id="deals">
    <h2 data-aos="fade-down"><a href="city">Covering Cities</a></h2>
    <ul>
        <li data-aos="fade-left">
            <img src="../../../../../../../assets/cities/Bhopal.png" >
            <h4>Bhopal</h4>
        </li>
        <li data-aos="fade-down">
            <img src="../../../../../../../assets/cities/Indore.png" >
            <h4>Indore</h4>
        </li>
        <li data-aos="fade-down">
            <img src="../../../../../../../assets/cities/ujjain.png" >
            <h4>Ujjain</h4>
        </li>
        <li data-aos="fade-right">
            <img src="../../../../../../../assets/cities/gwalior.png" >
            <h4>Gwalior</h4>
        </li>
    </ul>
    <ul>
        <li data-aos="fade-left">
            <img src="../../../../../../../assets/cities/jabalpur.png" >
            <h4>Jabalpur</h4>
        </li>
        <li data-aos="fade-down">
            <img src="../../../../../../../assets/cities/Rewa.png" >
            <h4>Rewa</h4>
        </li>
        <li data-aos="fade-down">
            <img src="../../../../../../../assets/cities/Vidisha.png" >
            <h4>Vidisha</h4>
        </li>
        <li data-aos="fade-right">
            <img src="../../../../../../../assets/cities/Sagar.png" >
            <h4>Sagar</h4>
        </li>
    </ul>
    </div>
</div>
