<div id="back-img">
    <div id="deals">
    <h2 data-aos="fade-down">Dealing Websites</h2>
    <ul>
        <li data-aos="fade-left">
            <img src="../../../../../../../assets/box_small.png" >
        </li>
        <li data-aos="fade-down">
            <img src="../../../../../../../assets/box_small.png" >
        </li>
        <li data-aos="fade-down">
            <img src="../../../../../../../assets/box_small.png" >
        </li>
        <li data-aos="fade-right">
            <img src="../../../../../../../assets/box_small.png" >
        </li>
    </ul>
    <ul>
        <li data-aos="fade-left">
            <img src="../../../../../../../assets/box_small.png" >
        </li>
        <li data-aos="fade-down">
            <img src="../../../../../../../assets/box_small.png" >
        </li>
        <li data-aos="fade-down">
            <img src="../../../../../../../assets/box_small.png" >
        </li>
        <li data-aos="fade-right">
            <img src="../../../../../../../assets/box_small.png" >
        </li>
    </ul>
    <ul>
        <li data-aos="fade-left">
            <img src="../../../../../../../assets/box_small.png" >
        </li>
        <li data-aos="fade-down">
            <img src="../../../../../../../assets/box_small.png" >
        </li>
        <li data-aos="fade-down">
            <img src="../../../../../../../assets/box_small.png" >
        </li>
        <li data-aos="fade-right">
            <img src="../../../../../../../assets/box_small.png" >
        </li>
    </ul>
    </div>
</div>
