
    <div id="deals">
    <h2 data-aos="fade-up">Dealing Banks</h2>
    <ul>
        <li data-aos="fade-left">
            <img src="../../../../../../../assets/banks_circle.png" >
        </li>
        <li data-aos="fade-down">
            <img src="../../../../../../../assets/banks_circle.png" >
        </li>
        <li data-aos="fade-up">
            <img src="../../../../../../../assets/banks_circle.png" >
        </li>
        <li data-aos="fade-down">
            <img src="../../../../../../../assets/banks_circle.png" >
        </li>
        <li data-aos="fade-right">
            <img src="../../../../../../../assets/banks_circle.png" >
        </li>
    </ul>
    </div>