
    <div id="deals">
    <h2 data-aos="fade-up">Our Domains</h2>
    <ul>
        <li data-aos="fade-left">
            <img src="../../../../../../../assets/banks_circle.png" >
            <h4>Medical Facilaties</h4>
        </li>
        <li data-aos="fade-down">
            <img src="../../../../../../../assets/banks_circle.png" >
            <h4>Hospitals</h4>
        </li>
        <li data-aos="fade-up">
            <img src="../../../../../../../assets/banks_circle.png" >
            <h4>Leisures</h4>
        </li>
        <li data-aos="fade-down">
            <img src="../../../../../../../assets/banks_circle.png" >
            <h4>Vaccines</h4>
        </li>
        <li data-aos="fade-right">
            <img src="../../../../../../../assets/banks_circle.png" >
            <h4>Relaxing Spots</h4>
        </li>
    </ul>
    </div>