#back-img {
    background-image: url("src\assets\ecom_background.png");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
#deals {
    text-align: center;
    margin-top:10%;
    margin-bottom:10%;
    
}
#deals h2{
    padding-top: 2%;
    color:black;
    font-family: 'COUTUREBold';
    font-size:3rem;
    margin-bottom: 5%;
}
#deals ul {
    display:flex;
    flex-direction:row;
}
#deals ul li{
    list-style: none;
    display: inline-block;
    padding:0;
}

#deals ul li img{
    width:48%;
}
@media (min-width:425px) and (max-width:991.98px){
    #deals {
        text-align: center;
        position: relative;
        top:20%;
    }
} 
@media (min-width:425px) and (max-width:673.98px){
    #deals h2{
        padding-top: 2%;
        font-size:2rem;
        margin-bottom: 5%;
    }
    #deals ul li img{
        width:86%;
        margin-right: 4%;
    }
}
@media (min-width:320px) and (max-width:424.98px){
    #deals h2{
        padding-top: 38%;
        font-size:2rem;
        margin-bottom: 5%;
    }
    #deals ul li img{
        width: 100%;
        margin-left: -62%;
    }

}
