<div id="back-img">
<div id="about-back">  
<div id="about">
    <div class="container">
        <div class="row">
            <div class="col align-self-start" >
                <div id="vector-1" data-aos="zoom-in-right">
                    <img src="../../../../../../../assets/about us.png" >
                </div>
                </div>
                <div class="col align-self-end" data-aos="zoom-in">
                    <h2>About US</h2>
                <div class="container-fluid" data-aos="zoom-in">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. A ex ipsam maxime esse voluptate
                        reiciendis nam pariatur asperiores ad magnam illo minus nostrum, nemo laboriosam odio atque!
                        Repellendus rerum eligendi consequuntur, soluta sit atque, officiis et ea ipsa nemo amet
                        voluptatibus numquam quo recusandae hic magni at maiores pariatur deleniti laudantium est
                        placeat tempore quisquam! Ea sunt unde modi provident?
                    </p>
                </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
</div>

