section {
    position: relative;
    width: 93%;
    padding: 0px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    background-color: #020018;
  }
  
  nav .logo {
    position: relative;
    color: white;
    font-family: "COUTUREBold";
    font-weight: bold;
    display: inline-block;
    font-size: 2.4rem;
    text-decoration: none;
    font-weight: 800;
  }
  
  nav a img {
    height: 10vh;
    margin-left: 2%;
  }
  nav ul {
    position: relative;
    display: flex;
  }
  nav ul li {
    list-style: none;
  }
  nav ul li a {
    color: white;
    font-weight: 600;
    font-size: 1.2rem;
    margin-left: 10px;
    display: inline-block;
    padding: 0 16px;
    position: relative;
    left: 231px;
    text-decoration: none;
    font-family: "COUTUREBold";
    font-weight: bold;
    margin-top: 10px;
    padding-top: 10px;
  }
  #login {
    background-color: #3c08f7;
    border-radius: 20px;
    margin-right: 5%;
    font-size: 20px;
    font-family: "COUTUREBold";
    padding: 5px 23px;
  }
  #login a{
      color:white;
      text-decoration: none;
  }
  #login:hover{
    background-color: #13adfc;
  }
  
  nav ul li a:hover {
    border-bottom: 2px solid #13adfc;
    padding-bottom: 0;
    padding-top: 0;
  }

  
/* Mobile Navbar */
.nav .logo img{
  height: 13vh;
  margin-left: 2%;
}
.nav {
	position: fixed;
	z-index: 1000;
	left: 0;
	right: 0;
	top: 0;
	font-family: "COUTUREBold";
	padding: 0 5%;
	height: 65px;
	background-color: black;
}
.nav .logo {
	float: left;
	width: 40%;
	height: 100%;
	display: flex;
	align-items: center;
	font-size: 24px;
	color: #fff;
}
.nav .links {
	float: right;
	padding: 0;
	margin: 0;
	width: 60%;
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.nav .links li {
	list-style: none;
}
.nav .links a {
	display: block;
	padding: 1em;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	text-decoration: none;
}
#nav-toggle {
	position: absolute;
	top: -100px;
}
.nav .icon-burger {
	display: none;
	position: absolute;
	right: 5%;
	top: 50%;
	transform: translateY(-50%);
}
.nav .icon-burger .line {
	width: 30px;
	height: 5px;
	background-color: #fff;
	margin: 5px;
	border-radius: 3px;
	transition: all .3s ease-in-out;
}
@media screen and (max-width: 768px) {
	.nav .logo {
		float: none;
		width: auto;
		justify-content: center;
	}
	.nav .links {
		float: none;
		position: fixed;
		z-index: 9;
		left: 0;
		right: 0;
		top: 64px;
		bottom: 100%;
		width: auto;
		height: auto;
		flex-direction: column;
		justify-content: space-evenly;
		background-color: rgba(0,0,0,.8);
		overflow: hidden;
		box-sizing: border-box;
		transition: all .5s ease-in-out;
	}
	.nav .links a {
		font-size: 20px;
	}
	.nav :checked ~ .links {
		bottom: 0;
	}
	.nav .icon-burger {
		display: block;
	}
	.nav :checked ~ .icon-burger .line:nth-child(1) {
		transform: translateY(10px) rotate(225deg);
	}
	.nav :checked ~ .icon-burger .line:nth-child(3) {
		transform: translateY(-10px) rotate(-225deg);
	}
	.nav :checked ~ .icon-burger .line:nth-child(2) {
		opacity: 0;
	}
	
}

  @media (max-width: 999.98px) {
    nav ul {
      display: none;
    }
    #login{
      display:none;
    }
    nav{
      display: none;
    }
  }
  @media (min-width: 1000px) and (max-width:1024px){
    .nav{
      display: none;
    }
  }
  