<section>
    <nav>
        <a href="#" class="logo">FROSH </a>
        <ul class="navigation" data-aos="slide-left">
            <li><a routerLink="home">Home</a></li>
            <li><a href="">Leisure</a></li>
            <li><a href="health">Health</a></li>
            <li><a href="food">Food</a></li>
            <li><a routerLink="contact">Contact us</a></li>
        </ul>
        <div id="login"><a routerLink="vaccine">Vaccine</a></div>
    </nav>
</section>
<router-outlet></router-outlet>
<app-footer></app-footer>