.content{
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top:10%;
    flex-direction:column;
}

form{
    justify-content:center;
    align-items:center;
    flex-direction:column;
}