<div id="back-img">
    <div id="features" data-aos="fade-down">
        <h1>Features</h1>
    </div>
    <div id="boxes">
        <ul>
            <li data-aos="fade-down">
                <img src="../../../../../../../assets/feature_box.png" >
            </li>
            <li data-aos="fade-up">
                <img src="../../../../../../../assets/feature_box.png" >
            </li>
            <li data-aos="fade-down">
                <img src="../../../../../../../assets/feature_box.png" >
            </li >
        </ul>
    </div>
</div>
