#back-img {
    background-image: url("src\assets\background_2.png");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#features {
    text-align: center;
}
#features h1{
    padding-top: 12%;
    color:white;
    font-family: 'COUTUREBold';
    font-size:3rem;
}
#boxes ul {
    display:flex;
    flex-direction:row;
}
#boxes ul li{
    list-style: none;
    margin-left: 8%;
}

#boxes ul li img{
    width:60%;
    padding-top: 20%;
}

@media (min-width:425px) and (max-width:673.98px){
    #features h1{
        padding-top: 50%;
        padding-left: 7%;
        color:white;
        font-family: 'COUTUREBold';
        font-size:3rem;
    }
}
@media (min-width:320px) and (max-width:424.98px){
    #features h1{
        padding-top: 11%;
        padding-left: 0%;
        color:white;
        font-family: 'COUTUREBold';
        font-size:2rem;
    }
    #boxes ul {
        display:flex;
        flex-direction:column;
    }
    #boxes ul li img{
        width: 43%;
        margin-left: 15%;
        padding-top: 10%;
    }
}